:root {
  --font-family: "maven pro", sans-serif;
  --logo-font-family: "Homemade Apple", sans-serif;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-color: #f7941e;
  --hover-accent-color: #d86d16;
  --cards-backgr-color: #fafafa;
  --background-accent: #231f20;
  --hero-background: #f1f1f2;
  --button-shadow: 0px 3px 1px #d86d1650, 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --button-radius: 3px;
  --cubic: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  .container {
    width: 400px;
  }
}

@media screen and (min-width: 736px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

p {
  margin: 0px;
}

.header {
  border-bottom: 1px solid var(--accent-color);
}

.navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navegation__logo {
  font-family: var(--logo-font-family);
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--primary-text-color);
}

.navegation__logo:hover {
  cursor: pointer;
}

@media screen and (min-width: 736px) {
  .navegation__logo {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .navegation__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 20px;
  }
}

.navegation__link {
  display: none;
}

@media screen and (min-width: 736px) {
  .navegation__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3px 5px;
    width: 140px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    -webkit-transition: color 250ms var(--cubic), border-color 250ms var(--cubic), font-size 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
    transition: color 250ms var(--cubic), border-color 250ms var(--cubic), font-size 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
    transition: color 250ms var(--cubic), border-color 250ms var(--cubic), box-shadow 250ms var(--cubic), font-size 250ms var(--cubic);
    transition: color 250ms var(--cubic), border-color 250ms var(--cubic), box-shadow 250ms var(--cubic), font-size 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  }
  .navegation__link:hover, .navegation__link:focus {
    color: #d86d16;
    border-color: var(--hover-accent-color);
    -webkit-box-shadow: var(--button-shadow);
            box-shadow: var(--button-shadow);
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .navegation__link {
    font-size: 16px;
    padding: 6px 7px;
    -webkit-transition: font-size 250ms var(--cubic);
    transition: font-size 250ms var(--cubic);
  }
  .navegation__link:hover, .navegation__link:focus {
    font-size: 17px;
  }
}

.navegation__button,
.mobile-menu__button {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 736px) {
  .navegation__button,
  .mobile-menu__button {
    display: none;
  }
}

.navegation__icon,
.mobile-menu__close {
  fill: var(--primary-text-color);
}

.navegation__icon:hover, .navegation__icon:focus,
.mobile-menu__close:hover,
.mobile-menu__close:focus {
  fill: var(--accent-color);
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 735px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--secondary-text-color);
  }
}

.header-list {
  text-align: center;
}

@media screen and (min-width: 736px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-list__item {
  padding: 20px 0px;
}

@media screen and (min-width: 736px) {
  .header-list__item:not(:last-child) {
    margin-right: 31px;
  }
}

.header-list__link {
  font-size: 25px;
  font-weight: 600;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  color: var(--accent-color);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--hover-accent-color);
}

@media screen and (min-width: 736px) {
  .header-list__link {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-list__link {
    font-size: 20px;
  }
  .header-list__link:hover, .header-list__link:focus {
    color: var(--hover-accent-color);
  }
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 736px) {
  .hero {
    background-color: var(--hero-background);
  }
}

@media screen and (min-width: 736px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__caption {
  padding-top: 20px;
}

@media screen and (min-width: 736px) {
  .hero__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 621px;
    padding-right: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__caption {
    padding: 108px;
    width: 621px;
  }
}

.hero__title {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 25px;
}

@media screen and (min-width: 736px) {
  .hero__title {
    display: inline-block;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
  }
}

.hero__text {
  display: none;
}

@media screen and (min-width: 736px) {
  .hero__text {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 17px;
  }
}

.hero__link {
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: var(--button-radius);
}

.hero__link:hover, .hero__link:focus {
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  font-size: 15px;
}

@media screen and (min-width: 736px) {
  .hero__link {
    margin: 0px;
    margin-top: 20px;
    padding: 10px 6px;
  }
}

.hero__image-thumb {
  max-width: 370px;
  height: auto;
  margin-top: 20px;
  border-radius: 3px;
  overflow: hidden;
}

@media screen and (min-width: 736px) {
  .hero__image-thumb {
    max-width: 719px;
    height: auto;
    margin-top: 0px;
    border-radius: 0px;
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

@media screen and (min-width: 736px) {
  .hero__image {
    border-radius: 0px;
  }
}

.feature {
  margin-top: 25px;
}

@media screen and (min-width: 736px) {
  .feature {
    margin-top: 0px;
    background-color: var(--hero-background);
  }
}

@media screen and (min-width: 736px) {
  .feature__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__thumb {
  display: none;
}

@media screen and (min-width: 736px) {
  .feature__thumb {
    display: block;
    width: 721px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .feature__thumb {
    max-width: 721px;
  }
}

.feature__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 736px) {
  .feature__caption {
    width: 719px;
    padding-top: 40px;
    padding-left: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__caption {
    padding: 108px;
  }
}

.feature__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .feature__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .feature__title {
    font-size: 28px;
  }
}

.feature__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.34;
  text-align: center;
  text-indent: 5px;
  margin-bottom: 20px;
}

@media screen and (min-width: 736px) {
  .feature__text {
    text-align: start;
    text-indent: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__text {
    font-size: 17px;
  }
}

.feature__button {
  display: block;
  padding: 7px 4px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: var(--button-radius);
}

.feature__button:hover, .feature__button:focus {
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  font-size: 15px;
}

@media screen and (min-width: 736px) {
  .feature__button {
    display: inline-block;
    margin: 0px;
    padding: 10px 6px;
  }
}

.holidays {
  margin-top: 40px;
}

.holidays__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .holidays__title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .holidays__title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.holidays__text {
  display: none;
}

@media screen and (min-width: 736px) {
  .holidays__text {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1200px) {
  .holidays__text {
    font-size: 17px;
    margin-bottom: 30px;
  }
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

@media screen and (min-width: 736px) {
  .card-set {
    margin: -20px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0px;
  }
}

.card-set__item {
  margin: 10px;
  -ms-flex-preferred-size: calc((100% - 40px) / 2);
      flex-basis: calc((100% - 40px) / 2);
}

@media screen and (min-width: 736px) {
  .card-set__item {
    margin: 20px;
    -ms-flex-preferred-size: calc((100% - 80px) / 2);
        flex-basis: calc((100% - 80px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    max-width: 270px;
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item:not(:last-child) {
    margin-right: 30px;
  }
}

.card-set__thumb {
  max-width: 200px;
  height: auto;
}

@media screen and (min-width: 736px) {
  .card-set__thumb {
    max-width: 270px;
    height: auto;
  }
}

.card-set__image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.card-set__caption {
  margin-top: 8px;
}

.card-set__title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 736px) {
  .card-set__title {
    font-size: 20px;
  }
}

.card-set__link {
  display: block;
  margin-top: 14px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.card-set__link:hover, .card-set__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 736px) {
  .card-set__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__link {
    font-size: 15px;
    margin-top: 25px;
  }
}

.application {
  background-color: var(--accent-color);
}

.application__container {
  display: none;
}

@media screen and (min-width: 736px) {
  .application__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0px;
  }
}

.application__text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
}

.application__text--bold {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
}

.application-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.application-list__item {
  font-size: 18px;
  font-weight: 400;
}

.application-list__item:first-child {
  margin-right: 10px;
}

.application-list__find {
  padding: 6px 5px;
  width: 130px;
  background-color: var(--background-accent);
  color: var(--secondary-text-color);
  border: 1px solid var(--background-accent);
  border-radius: 3px;
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.application-list__find:hover, .application-list__find:focus {
  background-color: transparent;
  color: var(--background-accent);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .application-list__find {
    padding: 10px 6px;
  }
}

.application-list__contact {
  padding: 6px 5px;
  width: 130px;
  background-color: transparent;
  color: var(--background-accent);
  border: 1px solid var(--background-accent);
  border-radius: 3px;
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.application-list__contact:hover, .application-list__contact:focus {
  background-color: var(--background-accent);
  color: var(--secondary-text-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .application-list__contact {
    padding: 10px 6px;
  }
}

.blog {
  margin-top: 40px;
}

.blog__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .blog__title {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .blog__title {
    font-size: 28px;
  }
}

.blog__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.34;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .blog__text {
    font-size: 17px;
  }
}

.article {
  margin-top: 20px;
}

@media screen and (min-width: 736px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
}

.article__thumb {
  max-width: 370px;
  height: auto;
}

.article__image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

@media screen and (min-width: 736px) {
  .article__image {
    border-radius: 0px;
  }
}

.article__caption {
  margin-top: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  text-align: center;
}

@media screen and (min-width: 736px) {
  .article__caption {
    width: 80%;
    text-align: start;
    margin-top: 0px;
    padding: 63px 20px 49px 50px;
    border: none;
    background-color: var(--background-accent);
  }
}

@media screen and (min-width: 1200px) {
  .article__caption {
    padding: 80px 20px 49px 50px;
  }
}

.article__author {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .article__author {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .article__author {
    font-size: 14px;
  }
}

.article__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .article__title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}

.article__link {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-color);
  -webkit-transition: color 250ms var(--cubic), font-size 250ms var(--cubic);
  transition: color 250ms var(--cubic), font-size 250ms var(--cubic);
}

.article__link:hover, .article__link:focus {
  color: var(--hover-accent-color);
  font-size: 15px;
}

@media screen and (min-width: 1200px) {
  .article__link:hover, .article__link:focus {
    font-size: 17px;
  }
}

@media screen and (min-width: 736px) {
  .article__link {
    text-align: start;
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}

.blog-list {
  margin-top: 35px;
}

@media screen and (min-width: 736px) {
  .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }
}

.blog-list__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 1200px) {
  .blog-list__item {
    padding: 40px;
  }
}

@media screen and (max-width: 735px) {
  .blog-list__item:last-child {
    margin-top: 28px;
  }
}

.blog-list__title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
}

@media screen and (min-width: 736px) {
  .blog-list__title {
    font-size: 20px;
    line-height: 1.4;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .blog-list__title {
    font-size: 26px;
  }
}

.blog-list__text {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-text-color);
}

@media screen and (min-width: 736px) {
  .blog-list__text {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .blog-list__text {
    font-size: 17px;
    margin-top: 20px;
  }
}

.blog-list__link {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin-top: 12px;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.blog-list__link:hover, .blog-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 736px) {
  .blog-list__link {
    margin-top: 20px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .blog-list__link {
    font-size: 15px;
    margin-top: 40px;
  }
}

.footer {
  margin-top: 30px;
}

@media screen and (min-width: 736px) {
  .footer {
    margin-top: 50px;
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-list {
  display: none;
}

@media screen and (min-width: 736px) {
  .footer-list {
    display: block;
    padding-top: 21px;
  }
}

.footer-list__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.footer-list__item:first-child {
  margin-bottom: 10px;
}

.footer-list__link {
  color: var(--primary-text-color);
}

.navegation__logo--footer {
  display: inline-block;
  padding-bottom: 20px;
  margin: 0px auto;
  border-bottom: 1px solid var(--primary-text-color);
  width: 200px;
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .navegation__logo--footer {
    text-align: center;
  }
}

@media screen and (min-width: 736px) {
  .navegation__logo--footer {
    width: 400px;
    margin: 0px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

.social-list__item:not(:last-child) {
  margin-right: 6px;
}

.social-list__link {
  width: 100%;
  height: 100%;
}

.social-list__icon {
  fill: var(--primary-text-color);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: fill 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--accent-color);
}

.footer__terms {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */