.feature {
  margin-top: 25px;

  @media screen and(min-width: 736px) {
    margin-top: 0px;
    background-color: var(--hero-background);
  }
}

.feature__container {
  @media screen and(min-width: 736px) {
    display: flex;
  }
}

.feature__thumb {
  display: none;

  @media screen and(min-width: 736px) {
    display: block;
    width: 721px;
    height: auto;
  }

  @media screen and(min-width: 1200px) {
    max-width: 721px;
  }
}

.feature__image {
  width: 100%;
  height: 100%;
}

.feature__caption {
  @media screen and(min-width: 736px) {
    width: 719px;
    padding-top: 40px;
    padding-left: 35px;
  }
  @media screen and(min-width: 1200px) {
    padding: 108px;
  }
}

.feature__title {
  margin-bottom: 10px;

  text-align: center;
  font-size: 20px;
  font-weight: 600;

  color: var(--primary-text-color);

  @media screen and(min-width: 736px) {
    text-align: start;
  }
  @media screen and(min-width: 1200px) {
    font-size: 28px;
  }
}

.feature__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.34;
  text-align: center;
  text-indent: 5px;

  margin-bottom: 20px;

  @media screen and(min-width: 736px) {
    text-align: start;
    text-indent: 0px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 17px;
  }
}

.feature__button {
  display: block;
  padding: 7px 4px;
  margin-left: auto;
  margin-right: auto;
  width: 122px;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: var(--button-radius);

  &:hover,
  &:focus {
    box-shadow: var(--button-shadow);
    font-size: 15px;
    cursor: pointer;
  }

  @media screen and(min-width: 736px) {
    display: inline-block;
    margin: 0px;
    padding: 10px 6px;
  }
}
