.mobile-menu {
  @media screen and(max-width: 735px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    flex-direction: column;

    background-color: var(--secondary-text-color);
  }
}

.header-list {
  text-align: center;

  @media screen and(min-width: 736px) {
    @include flex(center, center);
  }
}

.header-list__item {
  padding: 20px 0px;
}

.header-list__item:not(:last-child) {
  @media screen and(min-width: 736px) {
    margin-right: 31px;
  }
}

.header-list__link {
  font-size: 25px;
  font-weight: 600;
  transition: color 250ms var(--cubic);

  color: var(--accent-color);
  &:hover,
  &:focus {
    color: var(--hover-accent-color);
  }

  @media screen and(min-width: 736px) {
    font-size: 18px;
    font-weight: 400;

    color: var(--primary-text-color);
  }
  @media screen and(min-width: 1200px) {
    font-size: 20px;
    &:hover,
    &:focus {
      color: var(--hover-accent-color);
    }
  }
}

.mobile-menu.is-open {
  @include flex(center, center);
}
