.header {
  border-bottom: 1px solid var(--accent-color);
}

.navegation {
  @include flex(center, space-between);
}

.navegation__logo {
  font-family: var(--logo-font-family);
  font-size: 15px;
  font-weight: 400;

  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }

  @media screen and(min-width: 736px) {
    padding-top: 21px;
    padding-bottom: 21px;

    font-size: 16px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 26px;

    font-size: 20px;
  }
}

.navegation__link {
  display: none;
  @media screen and(min-width: 736px) {
    @include flex(center, center);
    padding: 3px 5px;
    width: 140px;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms var(--cubic), border-color 250ms var(--cubic),
      box-shadow 250ms var(--cubic), font-size 250ms var(--cubic);

    &:hover,
    &:focus {
      color: rgb(216, 109, 22);
      border-color: var(--hover-accent-color);
      box-shadow: var(--button-shadow);
      font-size: 16px;
    }
  }

  @media screen and(min-width: 1200px) {
    font-size: 16px;

    padding: 6px 7px;
    transition: font-size 250ms var(--cubic);
    &:hover,
    &:focus {
      font-size: 17px;
    }
  }
}

.navegation__button,
.mobile-menu__button {
  background-color: transparent;
  border: none;

  @media screen and(min-width: 736px) {
    display: none;
  }
}

.navegation__icon,
.mobile-menu__close {
  fill: var(--primary-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 10px;
}
