.navegation {
  @include flex(center, space-around);
}

.navegation__logo {
  font-family: var(--logo-font-family);
  font-size: 30px;
  font-weight: 400;

  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--primary-text-color);
}

.header-list {
  display: none;
}

.navegation__link {
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  padding: 5px 5px;

  color: var(--accent-color);
}
