.navegation {
  @include flex(center, space-between);
}

.navegation__logo {
  font-family: var(--logo-font-family);
  font-size: 15px;
  font-weight: 400;

  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }
}

.header-list {
  display: none;
}

.navegation__link {
  padding: 2px 4px;

  font-size: 15px;

  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: rgb(216, 109, 22);
    border-color: var(--hover-accent-color);
    box-shadow: var(--button-shadow);
    font-size: 16px;
  }
}

.navegation__button {
  background-color: transparent;
  border: none;
}

.navegation__icon {
  fill: var(--primary-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
