.hero__caption {
  padding-top: 20px;
}

.hero__title {
  color: var(--primary-text-color);
  text-align: center;

  margin-bottom: 10px;
}

.hero__text {
  display: none;

  @media screen and(min-width: 736px) {
    display: block;
  }
}

.hero__link {
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 4px;

  text-align: center;
  font-size: 14px;
  font-weight: 400;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: var(--button-radius);
}

.hero__image-thumb {
  max-width: 370px;
  height: auto;
  margin-top: 15px;
}

.hero__image {
  width: 100%;
  height: 100%;
}
