:root {
  --font-family: "maven pro", sans-serif;
  --logo-font-family: "homemadeapple", sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-color: #f7941e;

  --cards-backgr-color: #fafafa;
  --background-accent: #231f20;
}
